﻿@model Economic.Solutions.FreelanceAccounting.Web.Models.TaskViewModel

<script type="text/javascript" src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="~/Scripts/angular-route.js"></script>
<script type="text/javascript" src="~/Scripts/App/app.js"></script>
<script type="text/javascript" src="~/Scripts/App/models.js"></script>
<script type="text/javascript" src="~/Scripts/App/services.js"></script>
<script type="text/javascript" src="~/Scripts/App/cutomer-controller.js"></script>
<script type="text/javascript" src="~/Scripts/App/project-controller.js"></script>
<script type="text/javascript" src="~/Scripts/App/task-controller.js"></script>
<script type="text/javascript" src="~/Scripts/App/timeregistration-controller.js"></script>
<style>
    html, body{
        font-family: sans-serif;
    }
    a{
        text-decoration:none;
        color: black;
    }
    
    .column{
        float:left;
        width:23%;
        /*border-left: 1px solid gray;*/
        height: 100%;
        padding-left:10px;
        overflow: scroll;
    }
    .customers{
        height:50%;
    }
    .row{
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #E3E3E3;
        font-size: 16px;
    }
    .time-registration .property{
        margin:4px;
    }
    .time-registration .property .property-value{
        font-style:italic;
    }
    .duration{
        font-weight: bold;
    }
    textarea{
        width:100%;
        height:100px;
    }
    label{
        display:block;
    }
    .formItem{
        margin-top: 5px;
    }
    .validation-error{
        color: red;
        font-weight:bold;
        font-style:italic;
        margin:3px;
    }
</style>
<div ng-app="freelanceAccoutingApp"
     ng-controller="customerController">

    <div ng-view></div>

    <script type="text/ng-template" id="view.html">

        <div class="column customers" ng-show="showCustomersView">
            <h2>Customers</h2>
            <div class="row" ng-repeat="cust in context.customers">
                <span ng-show="cust.isCurrent"> >> </span>
                <a href="{{cust.clickUrl}}">{{cust.name}}</a>
            </div>
        </div>


        <div class="column projects" ng-show="showProjectsView">
            <h2>Projects</h2>
            <div class="row" ng-repeat="prj in context.projects">
                <span ng-show="prj.isCurrent"> >> </span>
                <a href="{{prj.clickUrl}}">{{prj.name}}</a>
            </div>
        </div>


        <div class="column tasks" ng-show="showTasksView">
            <h2>Tasks</h2>

            <div class="row" ng-repeat="task in context.tasks">
                <span ng-show="task.isCurrent"> >> </span>
                <a href="{{task.clickUrl}}">{{task.name}}</a>
            </div>

            <p ng-show="loadingTasks">Loading...</p>
            <p ng-show="noTasks">No Tasks for selected project</p>

            <button ng-click="showCreateTask()" ng-show="showCreateTaskButton">Add Task</button>
            <div ng-show="showCreateTaskForm">
                <h2>Create new Task</h2>

                <div class="formItem">
                    <label for="name">Name:</label>
                    <input name="name" id="name" type="text" ng-model="newTaskModel.name" />
                </div>

                <div class="formItem">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" ng-model="newTaskModel.description"></textarea>
                </div>

                <div class="formItem">
                    <button ng-click="createNewTask()">Create Task</button>
                    <p class="validation-error" ng-show="showValidationError">{{validationErrorMessage}}</p>
                </div>

            </div>
        </div>


        <div class="column time-registrations" ng-show="showTimeRegistrationsView">
            <h2>Time Registrations</h2>

            <div class="row time-registration" ng-repeat="timereg in context.timeRegistrations">
                <div class="property">Description: <span class="property-value">{{timereg.description}}</span></div>
                <div class="property">Duration: <span class="property-value duration">{{timereg.duration}} hours</span> </div>
                <div class="property"><input type="checkbox" value="{{timereg.timeRegistrationId}}" />Add to current invoice</div>
            </div>

            <p ng-show="loadingTimeRegs">Loading...</p>
            <p ng-show="noTimeRegs">No Time Registrations for selected Task</p>

            <button ng-click="showCreateTimeReg()">Register New Time</button>
            <div ng-show="showCreateTimeRegForm">
                <h2>Register Time</h2>

                <div class="formItem">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" ng-model="newTimeRegModel.description"></textarea>
                </div>

                <div class="formItem">
                    <label for="name">Start Date and Time:</label>
                    <input name="name" id="name" type="text" ng-model="newTimeRegModel.startDateTime" placeholder="2012/02/22 22:02"/>
                </div>

                <div class="formItem">
                    <label for="name">End Date and Time:</label>
                    <input name="name" id="name" type="text" ng-model="newTimeRegModel.endDateTime" placeholder="YYYY/MM/DD HH:mm" />
                </div>

                <div class="formItem">
                    <button ng-click="createNewTimeReg()">Register Time</button>
                    <p class="validation-error" ng-show="showValidationError">{{validationErrorMessage}}</p>
                </div>

            </div>
        </div>
    </script>
</div>